*{margin:0;padding:0;}
body{background-color:#ccc;
     font-family:"나눔고딕"
	 line-height:40px;
	 font-size:14px;
	 text-decoration:none;
	 color:#333;}
	 
a{color:#333;text-decoration:none;}
ul{list-style:none;}	 

h2.conTitle{float:left;width:160px;height:45px;background-color:#03F;color:#fff;text-align:center;line-height:40px;cursor:pointer;}
h2.btnOn{float:left;backgound-color:#C00;color:#fff;!important}