@import url("S-Core-Dream-light/s-core-dream.css");

*{margin:0; padding:0;}
body {background-color:#fff;
	  
	  }
	  
a {color:#4e4e4e;;text-decoration:none;}
ul{list-style:none;}

div#wrapper{width:1920px;height:7474px;border:0px solid red;position:relative;}
header {float:left;width:1920px;height:230px;border:0px solid blue;position:relative}
div#logo{float:left;border:0px solid red;padding:104px 0 0 840px;}

div#sns{
	position:absolute;
	width:88px;height:40px;
    border:0px solid red;
	float::left;
	margin:-42px 0 0 151px;
	z-index:14;
}
div#sns > ul > li {
	float:left;
	padding-right:10px;
	z-index:14;
}

#subTopmenu{
	position:absolute;
	width:400px;
	border:0px solid red;
    float:left;
    margin:-33px 0 0 1441px;
	z-index:14;
}
#subTopmenu > ul > li {
	float:left;
	padding-right:25px;
	font-size:13px;
	z-index:14;
}

#mainTopmenu{
	position:absolute;
	float:left;
	width:880px;
	height:50px;
	border:0px solid red;
    float:left;
    margin:4px 0 0 566px;
	z-index:14;
}

#Topmenu > li{float:left;}

/* linktwo */
.font1 {font-family:"Manrope Medium";
        }
#sCore{margin-top:-2px;}
.font2 {font-family: "s-core-dream-medium", sans-serif !important;
        line-height:30px;
        }
		
		
.link-2 a{  text-transform: uppercase;
            font-size: 17px;
			font-weight:600
            text-decoration:none;
            position: relative;
            display: block;
			float:left;
			margin-right:45px;}
.link-2 p {
           font-size: 80%;
           margin: 1px;}
		   
[class^="link-"] {
  display: inline-block;
  margin: 2em
}		   			
			
.link-2 a:hover {
  color: #4e4e4e;
}

.link-2 a:before {
  content: '';
  border-bottom: solid 1px #7f0019;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  
  opacity: 0;
}

.link-2 a:hover:before {
  opacity: 1.0;
}

.link-2 a, .link-2 a:before {
  -webkit-transition: all 0.8s ease;
          transition: all 0.8s ease;
}

#line1{float:left;width:1920px;border:0px solid red;position:absolute;margin:213px 0 0 0;}

#Shop_iconWrap{position:absolute;margin:250px 0 0 340px;float:left;width:1210px;height:80px;border:0px solid red;z-index:13;}

.Shop_icon1 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon1 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon1 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon2 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon2 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon2 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon3 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon3 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon3 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon4 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon4 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon4 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon5 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon5 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon5 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon6 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon6 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon6 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon7 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon7 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon7 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon8 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon8 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon8 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon9 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon9 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon9 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon10 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon10 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon10 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon11 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon11 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon11 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon12 {float:left;width:70px; height:80px; position:relative;border:0px solid red;margin-right:25px;}
.Shop_icon12 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon12 > ul > li:hover img:last-child { opacity:0 }

.Shop_icon13 {float:left;width:70px; height:80px; position:relative;border:0px solid red;}
.Shop_icon13 > ul > li img { width:100%; height:100%; border:0px; display:block; position:absolute; top:0px; left:0px; transition: opacity 0.5s; }
.Shop_icon13 > ul > li:hover img:last-child { opacity:0 }

#line2{float:left;width:1920px;border:0px solid red;position:absolute;margin:332px 0 0 0;}
#MainimgWrap{z-index:9;}
#MainText{border:0px solid red;width:421px;height:98px;position:absolute;margin:472px 0 0 750px;}
#Mainimg{position:absolute;margin:632px 0 0 0;z-index:9;}
#mainimg1{position:absolute;margin:632px 0 0 783px;z-index:10;}
#mainimg2{position:absolute;margin:792px 0 0 361px;z-index:10;}
#mainimg3{position:absolute;margin:1486px 0 0 648px;z-index:10;}

.main_image1 { overflow: hidden; width:939px;height:604px;}
.main_image1  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.main_image1:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

.main_image2 { overflow: hidden; width:382px;height:382px;}
.main_image2  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.main_image2:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

.main_image3 { overflow: hidden; width:508px;height:392px;}
.main_image3  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.main_image3:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

#main_button1{position:absolute;margin:1393px 0 0 798px;z-index:10;}
#main_button2{position:absolute;margin:1329px 0 0 365px;z-index:10;}
#main_button3{position:absolute;margin:1729px 0 0 1190px;z-index:10;}
#banner{border:0px solid red;position:absolute;margin:1990px 0 0 0;z-index:7;}

#newProduct_text{position:absolute;margin:2462px 0 0 813px;}

#searchLine{position:absolute;margin:2588px 0 0 360px;z-index:6;}

#seeAll1{position:absolute;margin:-98px 0 0 1096px;}
#seeAll2{position:absolute;margin:-37px 0 0 875px;}
#seeAll3{position:absolute;margin:-37px 0 0 1040px;}

#product1{position:absolute;margin:2745px 0 0 360px;z-index:5;}
#product1_1{position:absolute;margin:-1252px 0 0 1px;}
#product1_1_text{position:absolute;margin:-948px 0 0 3px;}

.product1_1class {overflow:hidden; width:285px;height:288px;}
.product1_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product1_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

#product2_1{position:absolute;margin:-1252px 0 0 307px;}
#product2_1_text{position:absolute;margin:-948px 0 0 309px;}
.product2_1class {overflow:hidden; width:285px;height:288px;}
.product2_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product2_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

#product3_1{position:absolute;margin:-1252px 0 0 611px;}
#product3_1_text{position:absolute;margin:-948px 0 0 613px;}
.product3_1class {overflow:hidden; width:591px;height:288px;}
.product3_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product3_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}
#product4_1{position:absolute;margin:-823px 0 0 1px;}
#product4_1_text{position:absolute;margin:-105px 0 0 1px;}
.product4_1class {overflow:hidden; width:589px;height:717px;}
.product4_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product4_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

#product5_1{position:absolute;margin:-823px 0 0 611px;}
#product5_1_text{position:absolute;margin:-535px 0 0 611px;}
.product5_1class {overflow:hidden; width:285px;height:287px;}
.product5_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product5_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

#product6_1{position:absolute;margin:-822px 0 0 916px;}
#product6_1_text{position:absolute;margin:-535px 0 0 916px;}
.product6_1class {overflow:hidden; width:285px;height:287px;}
.product6_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product6_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}
#product7_1{position:absolute;margin:-393px 0 0 611px;}
#product7_1_text{position:absolute;margin:-105px 0 0 611px;}
.product7_1class {overflow:hidden; width:285px;height:287px;}
.product7_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product7_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}
#product8_1{position:absolute;margin:-393px 0 0 916px;}
#product8_1_text{position:absolute;margin:-105px 0 0 916px;}
.product8_1class {overflow:hidden; width:285px;height:287px;}
.product8_1class  img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}
.product8_1class:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);	
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

#banner2{position:absolute;padding:4114px 0 0 0;z-index:4;}

#product2{position:absolute;padding:4995px 0 0 360px;z-index:3;}

#more{position:absolute;padding:6309px 0 0 712px;z-index:2;}

#specialEvent{position:absolute;}
#specialEvent_text{padding:6482px 0 0 744px;}
#specialEvent_back{padding:60px 0 0 0;}
#specialEvent1{margin:-515px 0 0 289px}
#specialEvent2{margin:-439px 0 0 989px}

#Footer_back{clear:both;padding:6995px 0 0 0;}

#Footer1{width:1920px;height:287px;background-color:#400000;margin:0 0 0 0;position:relative;}
#Footer_menu1{margin:0 0 0 440px;padding:30px 0 0 0;border:0px solid blue;width:89px;height:16px;position:absolute;z-index:2;}
#Footer_menu2{margin:0 0 0 686px;padding:30px 0 0 0;border:0px solid blue;width:89px;height:16px;position:absolute;z-index:1;}
#Footer_menu3{margin:0 0 0 956px;padding:30px 0 0 0;border:0px solid blue;width:89px;height:16px;position:absolute;z-index:1;}
#Footer_menu4{margin:0 0 0 1172px;padding:30px 0 0 0;border:0px solid blue;width:89px;height:16px;position:absolute;z-index:1;}
#Footer_menu5{margin:0 0 0 1425px;padding:30px 0 0 0;border:0px solid blue;width:89px;height:16px;position:absolute;z-index:1;}
#Footer_line{position:absolute;padding:58px 0 0 0;}
#Footer_logo{position:absolute;padding:153px 0 0 440px;z-index:1;}
#Footer_text{position:absolute;padding:148px 0 0 681px;}

